<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.simpostapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
        <activity
            android:name="com.example.simpostapp.Activity.AdminPostReset"
            android:label="Admin Post Reset"
            android:exported="false" />
        <activity
            android:name="com.example.simpostapp.Activity.AdminPostDelete"
            android:label="Admin Post Delete"
            android:exported="false" />
        <activity
            android:name="com.example.simpostapp.Activity.AdminPost"
            android:exported="false"
            android:label="Admin Post"
            android:parentActivityName="com.example.simpostapp.Activity.GeneralLogin" />
        <activity
            android:name="com.example.simpostapp.Activity.PostViewComments"
            android:exported="false" />
        <activity
            android:name="com.example.simpostapp.Activity.GeneralDeleting"
            android:exported="false"
            android:label="Deleting" />
        <activity
            android:name="com.example.simpostapp.Activity.HomeUserList"
            android:exported="false" />
        <activity
            android:name="com.example.simpostapp.Activity.HomeSomeone"
            android:exported="false" />
        <activity
            android:name="com.example.simpostapp.Activity.SearchUsers"
            android:exported="false" />
        <activity
            android:name="com.example.simpostapp.Activity.MessagesChat"
            android:exported="false"
            android:parentActivityName="com.example.simpostapp.Activity.Messages" />
        <activity
            android:name="com.example.simpostapp.Activity.MessagesAddPage"
            android:exported="false"
            android:label="Send a message"
            android:parentActivityName="com.example.simpostapp.Activity.Messages" />
        <activity
            android:name="com.example.simpostapp.Activity.Messages"
            android:exported="false"
            android:label="Contacts"
            android:parentActivityName="com.example.simpostapp.Activity.Home" />
        <activity
            android:name="com.example.simpostapp.Activity.HomeSetting"
            android:exported="false"
            android:parentActivityName="com.example.simpostapp.Activity.Home" />
        <activity
            android:name="com.example.simpostapp.Activity.ReportPage"
            android:exported="false"
            android:label="statistic" />
        <activity
            android:name="com.example.simpostapp.Activity.AdminUserDelete"
            android:exported="false"
            android:parentActivityName="com.example.simpostapp.Activity.AdminUser" />
        <activity
            android:name="com.example.simpostapp.Activity.AdminUserUpdate"
            android:exported="false"
            android:label="@string/update_user"
            android:parentActivityName="com.example.simpostapp.Activity.AdminUser" />
        <activity
            android:name="com.example.simpostapp.Activity.AdminUserAdd"
            android:exported="false"
            android:label="@string/add_user"
            android:parentActivityName="com.example.simpostapp.Activity.AdminUser" />
        <activity
            android:name="com.example.simpostapp.Activity.AdminUser"
            android:exported="false"
            android:label="@string/admin"
            android:parentActivityName="com.example.simpostapp.Activity.GeneralLogin" />
        <activity
            android:name="com.example.simpostapp.Activity.SearchPage"
            android:exported="false" />
        <activity
            android:name="com.example.simpostapp.Activity.Home"
            android:exported="false" />
        <activity
            android:name="com.example.simpostapp.Activity.Post"
            android:exported="false" />
        <activity
            android:name="com.example.simpostapp.Activity.SearchResultPage"
            android:exported="false"
            android:label="Search result" />
        <activity
            android:name="com.example.simpostapp.Activity.GeneralSignup"
            android:exported="false"
            android:parentActivityName="com.example.simpostapp.Activity.GeneralLogin" />
        <activity
            android:name="com.example.simpostapp.Activity.PostView"
            android:exported="false"
            android:parentActivityName="com.example.simpostapp.Activity.Home" />
        <activity
            android:name="com.example.simpostapp.Activity.HomePrivacy"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName="com.example.simpostapp.Activity.Home" />
        <activity
            android:name="com.example.simpostapp.Activity.PostCreate"
            android:exported="false"
            android:label="Create Your Post"
            android:parentActivityName="com.example.simpostapp.Activity.Post" />
        <activity
            android:name="com.example.simpostapp.Activity.GeneralLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>