<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
        <activity
            android:name=".Activity.HomeSettingLocation"
            android:exported="false" />
        <activity
            android:name=".Activity.GamePage"
            android:label="music time"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminPostReset"
            android:exported="false"
            android:label="Admin Post Reset" />
        <activity
            android:name=".Activity.AdminPostDelete"
            android:exported="false"
            android:label="Admin Post Delete" />
        <activity
            android:name=".Activity.AdminPost"
            android:exported="false"
            android:label="Admin Post"
            android:parentActivityName=".Activity.GeneralLogin" />
        <activity
            android:name=".Activity.Comments"
            android:exported="false"
            android:label="Comments" />
        <activity
            android:name=".Activity.GeneralDeleting"
            android:exported="false"
            android:label="Deleting" />
        <activity
            android:name=".Activity.HomeUserList"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeSomeone"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchUsers"
            android:exported="false" />
        <activity
            android:name=".Activity.MessagesChat"
            android:exported="false"
            android:parentActivityName=".Activity.Messages" />
        <activity
            android:name=".Activity.MessagesAddPage"
            android:exported="false"
            android:label="Send a message"
            android:parentActivityName=".Activity.Messages" />
        <activity
            android:name=".Activity.Messages"
            android:exported="false"
            android:label="Contacts"
            android:parentActivityName=".Activity.Home" />
        <activity
            android:name=".Activity.HomeSetting"
            android:exported="false"
            android:parentActivityName=".Activity.Home" />
        <activity
            android:name=".Activity.ReportPage"
            android:exported="false"
            android:label="statistic" />
        <activity
            android:name=".Activity.AdminUserDelete"
            android:exported="false"
            android:parentActivityName=".Activity.AdminUser" />
        <activity
            android:name=".Activity.AdminUserUpdate"
            android:exported="false"
            android:label="@string/update_user"
            android:parentActivityName=".Activity.AdminUser" />
        <activity
            android:name=".Activity.AdminUserAdd"
            android:exported="false"
            android:label="@string/add_user"
            android:parentActivityName=".Activity.AdminUser" />
        <activity
            android:name=".Activity.AdminUser"
            android:exported="false"
            android:label="@string/admin"
            android:parentActivityName=".Activity.GeneralLogin" />
        <activity
            android:name=".Activity.SearchPage"
            android:exported="false" />
        <activity
            android:name=".Activity.Home"
            android:exported="false" />
        <activity
            android:name=".Activity.Post"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchResultPage"
            android:exported="false"
            android:label="Search result" />
        <activity
            android:name=".Activity.GeneralSignup"
            android:exported="false"
            android:parentActivityName=".Activity.GeneralLogin" />
        <activity
            android:name=".Activity.PostView"
            android:exported="false"
            android:parentActivityName=".Activity.Home" />
        <activity
            android:name=".Activity.HomePrivacy"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".Activity.Home" />
        <activity
            android:name=".Activity.PostCreate"
            android:exported="false"
            android:label="Create Your Post"
            android:parentActivityName=".Activity.Post" />
        <activity
            android:name=".Activity.GeneralLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>